<link rel="import" href="../../../../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../../../bower_components/brainy-table/brainy-table.html">
<link rel="import" href="./similarDisplayer.html">

<dom-module id="tokens-displayer">
  <template>
    <style>

    </style>

    <div id="dimension">
      <ul>
        <paper-toggle-button id="togglePrio" checked="{{isPrio}}" >Token priority option</paper-toggle-button>
        <paper-toggle-button id="toggleRelax" checked="{{isRelax}}">Token matching option</paper-toggle-button>

        <em>Tokens:</em>
        <!-- <paper-icon-button icon="icons:refresh" on-click="_update"></paper-icon-button> -->
        <template is="dom-repeat" id="repeater" items="{{dimension.tokens}}" restamp>
          <li>
            <template is="dom-if" if="{{isPrio}}">
              <paper-dropdown-menu label="Token Priority" name="tokenPrio" required on-iron-select="_prioSelected">
                  <paper-menu class="dropdown-content" id="tokenPrio" selected="{{_computeSelectedPrio(item)}}">
                      <paper-item itemID$="{{item.id}}" prio$="{{TPV.VERY_HIGH}}">Very High</paper-item>
                      <paper-item itemID$="{{item.id}}" prio$="{{TPV.HIGH}}">High</paper-item>
                      <paper-item itemID$="{{item.id}}" prio$="{{TPV.NORMAL}}">Normal</paper-item>
                      <paper-item itemID$="{{item.id}}" prio$="{{TPV.LOW}}">Low</paper-item>
                      <paper-item itemID$="{{item.id}}" prio$="{{TPV.VERY_LOW}}">Very Low</paper-item>
                  </paper-menu>
              </paper-dropdown-menu>
            </template>

            {{_displayToken(item)}}

              <!-- <paper-dropdown-menu label="tokenRelax" name="tokenRelax" required>
                  <paper-menu class="dropdown-content" id="tokenRelax">

                  </paper-menu>
                </paper-dropdown-menu> -->

            <template is="dom-if" if="{{isRelax}}">
              <paper-dropdown-menu label="tokenRelax" name="tokenRelax" required on-iron-select="_relaxSelected">
                  <paper-menu class="dropdown-content" id="tokenRelax" selected="{{_computeSelectedPattern(item)}}">
                    <paper-item itemID$="{{item.id}}" pattern$="{{TQPV.PERFECT}}">Perfect matching</paper-item>
                    <paper-item itemID$="{{item.id}}" pattern$="{{TQPV.SIMILARITY}}">Similarity</paper-item>
                    <template is="dom-if" if="{{_isRelation(item)}}">
                      <paper-item itemID$="{{item.id}}" pattern$="{{TQPV.PREFIX}}">Prefix matching : r(t1,_)</paper-item>
                      <paper-item itemID$="{{item.id}}" pattern$="{{TQPV.REVERSE_PREFIX}}">Reverse Prefix matching : r(_,t1)</paper-item>
                      <paper-item itemID$="{{item.id}}" pattern$="{{TQPV.SUFIX}}">Suffix matching : r(_,t2)</paper-item>
                      <paper-item itemID$="{{item.id}}" pattern$="{{TQPV.REVERSE_SUFIX}}">Reverse Sufix matching : r(t2,_)</paper-item>
                      <paper-item itemID$="{{item.id}}" pattern$="{{TQPV.LOOSE}}">Loose matching : r(_,_)</paper-item>
                      <paper-item itemID$="{{item.id}}" pattern$="{{TQPV.DBL_TERMS}}">Double terms matching : t1,t2</paper-item>
                      <paper-item itemID$="{{item.id}}" pattern$="{{TQPV.MONO_PREFIX}}">Prefix term matching : t1</paper-item>
                      <paper-item itemID$="{{item.id}}" pattern$="{{TQPV.MONO_SUFIX}}">Suffix term matching : t2</paper-item>
                      <paper-item itemID$="{{item.id}}" pattern$="{{TQPV.BREAK_RELATION}}">Break relation into triples : r(t1,t2)->tr,t1,t2</paper-item>
                    </template>
                  </paper-menu>
              </paper-dropdown-menu>
            </template>

            <similar-displayer id$="{{_computeItemId(item.id)}}" dimension="{{dimension}}" token="{{item}}"></similar-displayer>

            <!-- <template is="dom-if" if="{{_computeSimilarityOn(item)}}">
              Choose the degree of similarity expected (>=):
              <paper-dropdown-menu label="Token Similarity" name="tokenSimi" required on-iron-select="_simiSelected">
                  <paper-menu class="dropdown-content" id="tokenSimi" selected="{{_computeSelectedSimi(item)}}">
                      <paper-item itemID$="{{item.id}}" simi$="{{SV.VERY_HIGH}}">Very High</paper-item>
                      <paper-item itemID$="{{item.id}}" simi$="{{SV.HIGH}}">High</paper-item>
                      <paper-item itemID$="{{item.id}}" simi$="{{SV.NORMAL}}">Normal</paper-item>
                      <paper-item itemID$="{{item.id}}" simi$="{{SV.LOW}}">Low</paper-item>
                      <paper-item itemID$="{{item.id}}" simi$="{{SV.VERY_LOW}}">Very Low</paper-item>
                  </paper-menu>
              </paper-dropdown-menu> -->

            <!-- </template> -->

            <paper-icon-button icon="icons:clear" itemID$={{item.id}} on-click="_removeItem"></paper-icon-button>
          </li>
        </template>
      </ul>
    </div>
  </template>
  <script>
    Polymer({
      is: "tokens-displayer",

      properties:
      {
        dimension:
        {
          type: Object,
          notify: true,
        },

        tokens:
        {
          type: Array,
          notify: true,
        },

        TQPV:
        {
          type: Object,
          value: function(){return TOKEN_QUERY_PATTERN_VALUE;},
        },

        TPV:
        {
          type: Object,
          value: function(){return TOKEN_PRIORITY;},
        },
        SV:
        {
          type: Object,
          value: function(){return SIMILARITY_VALUE;},
        },
        similarityON:
        {
          type: Boolean,
          value: false,
          notify: true,
        },
      },

      observers:
      [
        "_onDimensionChange(dimension)",
      ],

      _onDimensionChange: function(dim)
      {
        console.log(dim);
      },

      attached: function()
      {
        var tmp = this.dimension;
        this.dimension = null;
        this.dimension = tmp;
      },

      // update: function()
      // {
      //   var tmp = this.dimension;
      //   this.dimension = null;
      //   this.dimension = tmp;
      // },

      _isRelation: function(tok)
      {
        if(!tok)
          return false;
        return (tok.token instanceof Property);
      },

      _displayToken: function(tok)
      {
        if(!tok)
          return "";

        if(tok.token instanceof CAPTENClass)
        {
          return tok.token.uri.split("/")[tok.token.uri.split("/").length-1];
        }
        else if(tok.token instanceof Property)
        {
          return tok.token.uri.split("/")[tok.token.uri.split("/").length-1]+"("+tok.token.from.split("/")[tok.token.from.split("/").length-1]+","+tok.token.to.split("/")[tok.token.to.split("/").length-1]+")";
        }
        else
          return "Unknown token";
      },

      _removeItem: function(e)
      {
        var delItem = e.target.getAttribute('itemID');

        for(var i in this.dimension.tokens)
        {
          if(this.dimension.tokens[i].id == delItem)
          {
            this.splice('dimension.tokens', i, 1);
            return;
          }
        }
      },

      _prioSelected: function(e)
      {
        // var selectedItem = e.item;
        var selectedPrioElmt = e.target.selectedItem;
        var selectedPrio = selectedPrioElmt.getAttribute("prio");
        var selectedItemID = selectedPrioElmt.getAttribute("itemID");

        if(!selectedPrio || !selectedItemID)
          return;

        for(var i in this.dimension.tokens)
          if(this.dimension.tokens[i].id == selectedItemID)
            this.dimension.tokens[i].priority = Number(selectedPrio);

        this.fire(TOKEN_PRIORITY_CHANGE_ID);
      },

      _computeSimilarityArray: function(token)
      {
        return token.getSimilarities();
      },

      _computeSimilarityOn: function(item)
      {
        return item.queryPattern == TOKEN_QUERY_PATTERN_VALUE.SIMILARITY;
      },

      _simiSelected: function(e)
      {
        var selectedSimiElmt = e.target.selectedItem;
        var selectedSimi = selectedSimiElmt.getAttribute("simi");
        var selectedItemID = selectedSimiElmt.getAttribute("itemID");

        var elemPosInDimTok;

        for(var i in this.dimension.tokens)
          if(this.dimension.tokens[i].id == selectedItemID)
            this.dimension.tokens[i].similarityMatch = Number(selectedSimi);
      },

      _relaxSelected: function(e)
      {
        var selectedRelaxElmt = e.target.selectedItem;
        var selectedRelax = selectedRelaxElmt.getAttribute("pattern");
        var selectedItemID = selectedRelaxElmt.getAttribute("itemID")

        if(!selectedItemID || !selectedRelax)
          return;

        if(selectedRelax == TOKEN_QUERY_PATTERN_VALUE.BREAK_RELATION)
        {
          var idToSplice; var oldRel;

          this.similarityON = false;

          for(var i in this.dimension.tokens)
            if(this.dimension.tokens[i].id == selectedItemID)
              idToSplice = i;

          oldRel = this.dimension.tokens[idToSplice];
          // this.dimension.tokens.splice(idToSplice,1);
          this.splice('dimension.tokens', idToSplice, 1);

          var cl1 = new CAPTENClass();
          var cl2 = new CAPTENClass();
          var cl3 = new CAPTENClass();
          cl1.uri = oldRel.token.from;
          cl2.uri = oldRel.token.to;
          cl3.uri = oldRel.token.uri;


          // this.shadowRoot.querySelector('#similarity' + this.dimension.tokens[idToSplice].id).update(null, false);
          if(this.$.dimension.querySelector('#similarity' + this.dimension.tokens[idToSplice].id))
            this.$.dimension.querySelector('#similarity' + this.dimension.tokens[idToSplice].id).update(null, false);
          else
            console.log(selectedItemID);

          this.push('dimension.tokens',new Token(cl1));
          this.push('dimension.tokens',new Token(cl2));
          this.push('dimension.tokens',new Token(cl3));
        }
        else if(selectedRelax == TOKEN_QUERY_PATTERN_VALUE.SIMILARITY)
        {
          var tokIndex;
          for(var i in this.dimension.tokens)
          {
            if(this.dimension.tokens[i].id == selectedItemID)
            {
              tokIndex = i;
            }
          }

          if(!tokIndex)
            return;

          this.dimension.tokens[tokIndex].queryPattern = Number(selectedRelax);
          // this.shadowRoot.querySelector('#similarity' + this.dimension.tokens[tokIndex].id).update(this.dimension.tokens[tokIndex].getSimilarities(), true);
          if(this.$.dimension.querySelector('#similarity' + this.dimension.tokens[tokIndex].id))
            this.$.dimension.querySelector('#similarity' + this.dimension.tokens[tokIndex].id).update(this.dimension.tokens[tokIndex].getSimilarities(), true);
          else
            console.log(selectedItemID);
        }
        else
        {
          this.similarityON = false;

          for(var i in this.dimension.tokens)
          {
            if(this.dimension.tokens[i].id == selectedItemID)
            {
              this.dimension.tokens[i].queryPattern = Number(selectedRelax);
              // this.shadowRoot.querySelector('#similarity' + this.dimension.tokens[i].id).update(null, false);
              if(this.$.dimension.querySelector('#similarity' + this.dimension.tokens[i].id))
                this.$.dimension.querySelector('#similarity' + this.dimension.tokens[i].id).update(null, false);
              else
                console.log(selectedItemID);
            }
          }
        }
      },

      _computeSelectedPrio: function(item)
      {
        if(!item)
          return 2;//ID of normal in the dropdown-menu

        switch (item.priority) {
          case TOKEN_PRIORITY.NORMAL:
            return 2;
          case TOKEN_PRIORITY.VERY_HIGH:
            return 0;
          case TOKEN_PRIORITY.HIGH:
            return 1;
          case TOKEN_PRIORITY.LOW:
            return 3;
          case TOKEN_PRIORITY.VERY_LOW:
            return 4;
          default:
            return 2;
        }

      },

      _computeItemId: function(id)
      {
        return "similarity"+id;
      },

      _computeSelectedSimi: function(item)
      {
        if(!item)
          return 2;//ID of normal in the dropdown-menu

        switch (item.priority) {
          case TOKEN_PRIORITY.NORMAL:
            return 2;
          case TOKEN_PRIORITY.VERY_HIGH:
            return 0;
          case TOKEN_PRIORITY.HIGH:
            return 1;
          case TOKEN_PRIORITY.LOW:
            return 3;
          case TOKEN_PRIORITY.VERY_LOW:
            return 4;
          default:
            return 2;
        }
      },

      _update: function()
      {
        var tmp = this.dimension.tokens;
        this.set('dimension.tokens', []);

        for(var i in tmp)
          this.push('dimension.tokens', tmp[i]);
      },

      update: function()
      {
        var tmp = this.dimension;
        this.dimension = null;
        this.dimension = tmp;
        this._update();
      },

      _computeSelectedPattern: function(item)
      {
        if(!item)
          return 0;

        switch (item.queryPattern) {
          case TOKEN_QUERY_PATTERN_VALUE.PERFECT:
            return 0;
          case TOKEN_QUERY_PATTERN_VALUE.PREFIX:
            return 1;
          case TOKEN_QUERY_PATTERN_VALUE.REVERSE_PREFIX:
            return 2;
          case TOKEN_QUERY_PATTERN_VALUE.SUFIX:
            return 3;
          case TOKEN_QUERY_PATTERN_VALUE.REVERSE_SUFIX:
            return 4;
          case TOKEN_QUERY_PATTERN_VALUE.LOOSE:
            return 5;
          case TOKEN_QUERY_PATTERN_VALUE.DBL_TERMS:
            return 6;
          case TOKEN_QUERY_PATTERN_VALUE.MONO_PREFIX:
            return 7;
          case TOKEN_QUERY_PATTERN_VALUE.MONO_SUFIX:
            return 8;
          default:
            return 0;
        }
      },

    });
  </script>
</dom-module>
