<!-- narrative-block-cascader-display-element allow to encapsulate the behavior of signaling to display the narrative block
of the element when clicked  -->

<!-- <link rel="import" href="./narrative-block-displayer-element.html"> -->

<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-badge/paper-badge.html">

<dom-module id="narrative-block-cascader-display-element">
  <template>
    <style>
    :host {
      display: block;
    }

    .cascadeNarrative {
      border-left: 6px solid red;
      background-color: lightgrey;
      margin-left: 15px;
      padding-top: 5px;
      padding-bottom: 2px;
    }
    </style>

    <div class="cascadeNarrative" hidden="{{_isEntityNull(entity)}}">
      <!-- <h3>Narrative block</h3> -->

      <template is="dom-if" if="{{hasNarrativeBlock}}" restamp="true">
        <template is="dom-if" if="{{!isDisplayActivated}}" restamp="true">
          <paper-icon-button id="cascadeBlck" icon="icons:chevron-right" on-click="_notifyCascade"></paper-icon-button>
          <paper-badge id="badge" for="cascadeBlck" label="{{_getNarrativeBlockLength()}}"></paper-badge>
        </template>
        <template is="dom-if" if="{{isDisplayActivated}}" restamp="true">
          <paper-icon-button icon="icons:expand-more" on-click="_notifyCascade"></paper-icon-button>
          <narrative-block-displayer-element id="narrativeBlock" entity="{{entity}}" narrativeblock="{{narrativeblock}}"}></narrative-block-displayer-element>
        </template>
        {{_generateEdit}}
        <div id="editZone">

        </div>
      </template>

      <div hidden="{{_isEntityNull(entity)}}">
        <narrative-block-adder-element id="adder" narrativeblock="{{narrativeblock}}"></narrative-block-adder-element>
      </div>

    </template>
  </div>
  <script>
    Polymer({
      is : "narrative-block-cascader-display-element",

      properties:
      {
        entity:
        {
          type: Object,
          notify: true,
          observer: "_updateNarrativeBlock4Element",
        },
        isDisplayActivated:
        {
          type: Boolean,
          notify: true,
          value: false,
        },
        hasNarrativeBlock:
        {
          type: Boolean,
          notify: true,
          value: false,
        },
        narrativeblock:
        {
          type: Object,
          notify: true,
        },
      },

      attached: function()
      {

        if(Polymer.dom(this.root).querySelector('#adder') != null)
        {
          Polymer.dom(this.root).querySelector('#adder').addEventListener('-NewElementNarrative', function(e){
            console.log("even proc");
            Polymer.dom(this.root).querySelector('#adder').toggleCreation = false;

            this._updateBadge();

            if(Polymer.dom(this.root).querySelector('#narrativeBlock'))
              Polymer.dom(this.root).querySelector('#narrativeBlock').displayNarrativeBlock();
          }.bind(this));
        }
      },

      _notifyCascade: function()
      {
        this._updateNarrativeBlock4Element();
        this.isDisplayActivated = !this.isDisplayActivated;
      },

      _isEntityNull: function(entity)
      {
        return (entity == null);
      },

      _generateEdit: function()
      {
        var divGlob = document.createElement('div');

        var divEdit = document.createElement('div');
        divEdit.setAttribute('id', 'edit'+this.id);
        divEdit.setAttribute('hidden', 'true');

        var editIcon = document.createElement('paper-icon-button');
        var divEdit = document.createElement('div');
        var editElement = null;

        console.log(this.entity);
        if( (this.entity.constructor).configurerElement != null)
        {
         editElement = new (this.entity.constructor).configurerElement(this.entity);
         divEdit.setAttribute('id', 'edit'+this.entity.id);
         divEdit.setAttribute('hidden', 'true');


         editIcon.setAttribute('icon', 'icons:settings');
         editIcon.setAttribute('idEdit', this.entity.id);
         editIcon.addEventListener('click', function(e){
           this._displayEditButton(e.target.getAttribute('idEdit'));
         }.bind(this));

        }
        else {
          editElement = document.createElement("p");
          editElement.textContent = "Element linked does not have any associated editing function! (item:"+this.entity.label+")";
        }

        divGlob.appendChild(editIcon);
        divEdit.appendChild(editElement);
        divGlob.appendChild(divEdit);

        Polymer.dom(this.root).querySelector('#editZone').appendChild(divGlob);
      },

      //IMPORTANT ! this function WILL CREATE a narrativeblock for the entity if it not already exists
      _updateNarrativeBlock4Element: function()
      {
        if(this.entity == null)
          return;

          console.log(this.entity);
        if(this.entity.getNarrativeBlock == null)
          return;

        this.narrativeblock = this.entity.getNarrativeBlock();

        if(this.narrativeblock != null)
        {
          this.hasNarrativeBlock = true;
          this._updateBadge();
          return;
        }
        // else
        //   this.hasNarrativeBlock = false;
        this.narrativeblock = NARRATIVE_BLOCK_POOL.createFromElement(this.entity);

        if(this.narrativeblock != null)
        {
            this.hasNarrativeBlock = true;
            this._updateBadge();
          }
        else
         this.hasNarrativeBlock = false;
      },

      _updateBadge: function()
      {
        if(Polymer.dom(this.root).querySelector('#badge'))
          Polymer.dom(this.root).querySelector('#badge').label = this._getNarrativeBlockLength();
      },

      _getNarrativeBlockLength: function()
      {
        if(this.narrativeblock == null)
          return -1;

        return this.narrativeblock.getLength();
      },

    });
    </script>
  </dom-module>
