<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="narrative-creation-page-element">
  <template>
    <style include="toasty-style"></style>
    <style>

    :host{
      --vis-element-height: 400px;
      --rgte-common-width: 400px;
    }

    /*#commonInfo{
      width: 60%;
      margin: 0 auto;
      /*background-color: DodgerBlue;*/
    /*}*/

    #commonInfo{
      width: 70%;
      margin: 0 auto;
      /*background-color: DodgerBlue;*/

    }

    #commonInfo > header{
      width: 100%;
      text-align: center;
      margin-bottom: 100px;
    }

    #separator{
      width: 95%;
      margin: 50px auto;
      border-bottom: 1px solid black;
    }

    .miniSeparator{
      width: 20%;
      margin: 50px auto 0px auto;
      border-bottom: 1px solid black;
    }

    #configurationZone{
      width: 100%;
    }

    #configurationZone > header{
      text-align: center;
    }

    .subConfigZone > h4{
      text-align: center;
      margin-bottom: 30px;
    }

    #sde{

      width: 60%;
      margin: 0 auto 50px auto;
    }

    #layoutConcept{
      background-color: green;
      @apply(--layout-horizontal);
      @apply(--layout-around-justified);
    }

    #concernedElements{
      width: 100%;
      /*border: 1px solid black;*/
    }

    paper-card{
      width: 100%;
      margin: 0 auto;
    }

    paper-checkbox.green {
      align-self: center;
      border: 1px solid var(--paper-green-200);
      padding: 8px 16px;
      --paper-checkbox-label-spacing: 0;
      --paper-checkbox-margin: 8px 16px 8px 0;
      --paper-checkbox-vertical-align: top;
    }

    paper-checkbox .subtitle {
                display: block;
                font-size: 0.8em;
                margin-top: 2px;
                max-width: 180px;
              }

    #advanced{
      @apply(--layout-horizontal);
      @apply(--layout-around-justified);
    }

    .shortText{
      font-size: 14px;
    }

    .bolded{
      font-weight: bold;
    }

    .italic:{
      font-style: italic;
    }

    .iccOpen{
      color: var(--paper-pin-400);
    }

    #narrativeElement{
      margin-top: 30px;
    }

    #icsave{
      margin: 7px auto 20px auto;
    }

    </style>

    <app-location route="{{topLevelRoute}}" use-hash-as-path></app-location>


    <app-route route="{{route}}" pattern="/:itemValue" active="{{active}}" data="{{data}}" tail="{{tail}}"></app-route>

    <div id="divRoot">
      <div id="commonInfo">
        <header>
          <h2> <span hidden$={{!isNew}}>New Narrative Element</span><span hidden$="{{isNew}}">Narrative Element: {{napName}}</span></h2>
          <p class="shortText"><span class="bolded">1<sup>st</sup> concerned element:</span> {{_getElementName(elements)}}</p>
          <div id="paperFabs">
            <!-- <paper-fab icon="av:fiber-new" disabled="{{isNew}}" on-click="_openVocabularyNewItemPage"></paper-fab> -->

          </div>
        </header>


        <div id="concernedElements">
          <h4>The narration will concerned the following elements:</h4>
          <paper-card>
            <div class="card-content">
              <template id="repeaterElements" is="dom-repeat" items="[[elements]]" index-as="index">
                <p class="italic shortText">[[_computeText(item)]] <paper-icon-button class="iccOpen" on-click="_openElement" icon="launch"></paper-icon-button></p>
              </template>
            </div>
          </paper-card>
        </div>

        <div id="narrativeElement">
          <h4>Configuration</h4>

          <paper-card>
              <div class="card-content">
                <h4>Type of narrative element<paper-checkbox checked="{{checkedNarrative}}" disabled>Consider existing elements</paper-checkbox></h4>
                <paper-dropdown-menu label="Narrative element">
                  <paper-listbox id="listNarrativeElement" class="dropdown-content" selected="{{narrativeSelected}}">
                    <template is="dom-repeat" items="[[narrativeElements]]" index-as="index">
                      <paper-item>{{item.label}}</paper-item>
                    </template>
                  </paper-listbox>
                </paper-dropdown-menu>
              </div>
            </paper-card>
        </div>

        <div id="advanced">
          <paper-checkbox checked="{{checked}}">
            Advanced configuration
            <span class="subtitle">
              Manage the type of the relation
            </span>
          </paper-checkbox>
        </div>


        <div id="property" hidden$="{{!checked}}">
          <h4>Kind of relation between the concerned element(s) and the narrative one</h4>

          <paper-dropdown-menu label="Narrative element">
            <paper-listbox id="listNarrativeProperty" class="dropdown-content" selected="{{propertySelected}}">
              <template is="dom-repeat" items="[[narrativeProperties]]" index-as="index">
                <paper-item>{{item.label}}</paper-item>
              </template>
            </paper-listbox>
          </paper-dropdown-menu>

        </div>

        <div id="configurerZone">
          <paper-card>
            <div class="card-content">
              <h4>Configure your narrative element</h4>
              <div id="narrativeNamer">

              </div>
            </div>
          </paper-card>
        </div>

        <div id="save">
          <paper-fab id="icsave" icon="icons:save" disabled="{{!isSaveable}}" on-click="_save"></paper-fab>
        </div>

      </div>

      <paper-toast id="NAPRegistered" text='This narrated concept has been attached to {{_getElementName(elements)}}'>
        <paper-button on-click="_closeToast" class="toastButton">CLOSE</paper-button>
      </paper-toast>

      <paper-toast id="toastSaveFailed" text='Fail to save the narration'>
        <paper-button on-click="_closeToast" class="toastButton">CLOSE</paper-button>
      </paper-toast>

      <paper-toast id="toastSaveSuccess" text='Narration successfully created'>
        <paper-button on-click="_closeToast" class="toastButton">CLOSE</paper-button>
      </paper-toast>



    </div>

  </template>
  <script>
    Polymer({
      is: "narrative-creation-page-element",

      properties:
      {
        narrative://this : property + elmt 'to' (not just the id) + block
        {
          type: Object,
          notify: true,
        },

        elements:
        {
          type: Array,
          notify: true,
        },

        route:
        {
          type: Object,
          notify: true,
        },

        isNew:
        {
          type: Boolean,
          notify: true,
          value: true,
        },

        narrativeElements://Array of choice of narrative elements (use in the paperdown)
        {
          type: Array,
          notify: true,
        },
        narrativeProperties:
        {
          type: Array,
          notify: true,
        },
        narrativeSelected: //The text selected
        {
          type: String,
          notify: true,
        },
        isSaveable:
        {
          type: Boolean,
          notify: true,
        },

        vocab:
        {
          type: Object,
          notify: true,
        },
        customcls:
        {
          type: Object,
          notify: true,
        },
        customprops:
        {
          type: Object,
          notify: true,
        },

      },

      observers:
      [
        "_onRouteChanged(route)",
        "_onNarrativePropertyChanged(narrative.property)",
        "_onNarrativeElementChanged(narrative.element)",
        "_onCheckboxNarrative(checkedNarrative)",
        "_onNarrativeSelected(narrativeSelected)",
        "_onPropertySelected(propertySelected)",
      ],

      attached: function()
      {
        this.set('narrativeProperties', NARRATIVE_BLOCK_POOL.listCompilantNarrativeBlockProperties);
      },

      // === ROUTING
        _onRouteChanged: function(route)
        {
          if(route.prefix.toLowerCase() != "/narration")
            return;

          this._resetPage();

          if(this.data.itemValue == null || this.data.itemValue == "" || this.data.itemValue.toLowerCase() == 'new')
            this._generateDefaultConfig();
          else if( this.data.itemValue.search(/\d+_\d+/) != -1)
          {
            var success = this._generateSpecificConfig(this.data.itemValue);

            if(!success)
              this._generateDefaultConfig();
          }
          else if(this.data.itemValue.search(/\d+/) != -1 && this.data.itemValue.search(/\D+/) == -1)
          {
            this._generateDefaultSourceConfig(NARRATIVE_BLOCK_POOL.getNarrativeBlockForID(this.data.itemValue));
          }
          else
            this._generateDefaultConfig();

          HISTORY_MANAGER.stack(this.narrative.block);
          this.update();

          // if(this.isNew && this.nap)
          //   this.nap.willBeReplaced();
          //
          // {
          //   var success = this._generateSpecificConfig(this.data.itemValue);
          //
          //   if(!success)
          //   {
          //     console.error("No nap found. Booting on default configuration");
          //     this._generateDefaultConfig();
          //   }
          // }
          //
          // HISTORY_MANAGER.stack(this.nap);
          // this.update();
        },

        _generateDefaultSourceConfig: function(block)
        {
          if(block == null)
            return;

          this.isNew = true;

          this.narrative = [];
          this.narrative.property = null;
          this.narrative.element = null;
          this.narrative.block = null;

          this.narrative.block = block;
          this.elements = [];
          this.set('elements', [block.getOrigin()]);
        },
          _generateDefaultConfig: function()
          {
            this.isNew = true;

            this.narrative = [];
            this.narrative.property = null;
            this.narrative.element = null;
            this.narrative.block = null;

            // var from = HISTORY_MANAGER.getFirstAntichronologicalElement();//Since it is not stored, desynchro
            var from = HISTORY_MANAGER.getCurrentItem();

            if(from == null || from.id == null)
            {
              alert("No built-in browsing feature. Go to the desired element, then comeback to this page");
              console.error("ERROR; ABORTING EDITION");
              return;
            }

            this.narrative.block = NARRATIVE_BLOCK_POOL.getNarrativeBlockForID(from.id);

            if(this.narrative.block == null)
              NARRATIVE_BLOCK_POOL.createFromElement(from);

            this.elements = [];
            this.set('elements', [from]);
          },

          _generateSpecificConfig: function(idsToFind)//Id like: XXX_YYY . Where XXX is the entity & YYY id of prop
          {
            if(idsToFind == null)
              return false;

            var splitted = idsToFind.split('_');

            var p = PROPERTIES_POOL.getByID(splitted[1]);

            if(p == null)
              return false;

            var b = NARRATIVE_BLOCK_POOL.getNarrativeBlockForID(splitted[0]);

            if(b == null)
              return false;

            if(b.getOrigin() == null)
            {
              alert('No entity');
              return false;
            }

            this.narrative = [];
            this.elements = null;

            this.$.repeaterElements.render();
            this.set('elements', [b.getOrigin()])

            this._alignDropdown(b.getElementById(p.to), p);

            //
            // this.narrative.element = b.getElementById(p.to);
            // this.narrative.property = p;
            // this.narrative.block = b;
            //
            // this.notifyPath('narrative.element');
            // this.notifyPath('narrative.property');

            this.set('narrative.element', b.getElementById(p.to));
            this.set('narrative.property', p);
            this.set('narrative.block', b);

            this.isNew = false;

            return true;
            // this.$.
          },

          _resetPage: function()
          {
            this.narrative = null;
            this.narrativeSelected = null;
            this.propertySelected = null;
            this.checked = false;
            this.checkedNarrative = false;
          },

          _onNarrativePropertyChanged: function(prop)
          {
            this._updateSaveState();
          },

          _onNarrativeElementChanged: function(element)
          {
            this._cleanNarrativeNamerZone();
            this._attachElementConfigurer(element);
            this._updateSaveState();
          },

          _updateSaveState: function()
          {
            if(this.narrative && this.narrative.element && this.narrative.property && this.narrative.block)
              this.set('isSaveable', true);
            else
              this.set('isSaveable', false);
          },

          _cleanNarrativeNamerZone : function()
          {
            var root = this.$$('#narrativeNamer');

            if(root)
              while(root.firstChild)
                root.removeChild(root.firstChild);
          },

          _attachElementConfigurer: function(element)
          {
            if(element == null || element.constructor == null || (element.constructor).namerElement == null)
              return null;

            var elementNamer = new (element.constructor).namerElement(element);
            elementNamer.set('vocab', this.vocab);
            elementNamer.set('customcls', this.customcls);
            elementNamer.set('customprops', this.customprops);

            // var div = document.createElement('div');
              var subDiv0 = document.createElement('div');
            subDiv0.appendChild(elementNamer);

            this.$$('#narrativeNamer').appendChild(subDiv0);
          },

      _onCheckboxNarrative: function(checked)
      {
        if(checked)
        {

        }
        else
        {
          this.narrativeElements = [];
          this.set('narrativeElements', this._generateDefaultNarrativeElements());
        }
      },

      _generateDefaultNarrativeElements: function()
      {
        return NARRATIVE_BLOCK_POOL.listCompilantNarrativeBlockEntities;
      },

      _onNarrativeSelected: function(selected) // update the configurer of the selected narrative element
      {
        //TODO
          // When the possibilty to choose exisiting element, check if selected belongs to generateDefaultNarrativeElements. No need to load configurer otherwise
        // END TODO
        if(selected == null)
          return;

        var res = NARRATIVE_BLOCK_POOL.newInstanceDispatcher(NARRATIVE_BLOCK_POOL.listCompilantNarrativeBlockEntities[selected].label);

        if(res == null)
          return;

        this.narrative.element = null;
        this.set('narrative.element', res);

        if(!this.checked || this.narrative.property == null) //If advanced configuration is not opened or that prop is null in narrative we have to record the prop
        {
          res = NARRATIVE_BLOCK_POOL.getDefaultPropertyFor(res);
          // res = this._wrapperPropertyBuilder(res.uri, res.label, this.elements[0], this.narrative.element)
          this.narrative.property = null;
          this.set('narrative.property', res);
          this._selectDropdownProp(res);
        }
      },

      _onPropertySelected: function(selected)
      {
        if(selected == null)
          return;

        this.narrative.property = null;
        this.set('narrative.property', new Property(NARRATIVE_BLOCK_POOL.listCompilantNarrativeBlockProperties[selected].uri, NARRATIVE_BLOCK_POOL.listCompilantNarrativeBlockProperties[selected].label));
      },

      _wrapperPropertyBuilder: function(uri, label, from, to, c)
      {
        return new Property(uri, label, from, to, c);
      },

      _selectDropdownProp: function(res)
      {
        if(res == null)
          return;

        for(var i in NARRATIVE_BLOCK_POOL.listCompilantNarrativeBlockProperties)
        {
          if(this.narrative.property && NARRATIVE_BLOCK_POOL.listCompilantNarrativeBlockProperties[i].uri == this.narrative.property.uri)
          {
            this.set('propertySelected', i);
            return;
          }
        }
      },

      update: function()
      {
        this._onCheckboxNarrative(this.checkedNarrative);//use the method to update the narrativeElements array
      },

      _alignDropdown: function(elmt, prop)
      {
        var val = -1;
        if(elmt)
        {
          console.error("WARNING, POTENTIAL DESYNCHRO WHEN BROWSING EXISTING");

          for(var i in this.narrativeElements)
          {
            if(this.narrativeElements[i].label == elmt.constructor.name)
            {
              val = i;
              break;
            }
          }

          if(val >= 0)
            this.$.listNarrativeElement.selected = val;
        }

        if(prop)
        {
          for(var i in this.narrativeProperties)
            if(this.narrativeProperties[i].label == prop.label)
              this.set('propertySelected', i);
        }
      },

      _getElementName: function(elements)
      {
        if(elements == null || elements.length < 1)
          return "nothing";

        var res = null;

        if(elements[0].getName)
          res = elements[0].getName();
        else if(elements[0].getContent)
          res = elements[0].getContent();

        if(res == null)
          return "Element not named yet!";

        if(elements.length == 1)
          return res;
        else if(elements.length > 1)
          return res+" among others";
        else
          return "nothing"
      },

      _openElement: function(e)
      {
        this.set('topLevelRoute.path', HISTORY_MANAGER._getRedirectionURL(e.model.item));
      },

      _computeText: function(item)
      {
        if(item == null)
          return;

        if(item.getName)
          if(item.getName() != null)
            return item.getName();
        if(item.getContent)
          if(item.getContent() != null)
            return item.getContent()+" ("+item.htmlify+")";

        return item.htmlify+' (this element does not have a name yet!)';
      },

      _save: function()
      {
        if(this.narrative == null || this.narrative.property == null || this.narrative.element == null || this.narrative.block == null)
        {
          this.$.toastSaveFailed.open();
          return;
        }

        if(this.elements == null || this.elements < 1)
        {
          console.error("ELEMENTS error! Should rework the array in a standard elements!!");
        }

        NARRATIVE_BLOCK_POOL.addElementFor(this.elements[0], this.narrative.element, this.narrative.property);

        this.$.toastSaveSuccess.open();
      },

// === TOAST
      _goOnRelatedRWEI: function()
      {
        this.$.rwei._openRGTE();
      },
      _closeToast: function(e)
      {
        Polymer.dom(e).localTarget.parentElement.close();
      },
      _goToName: function(e)
      {
        window.scroll(0,0);
        this._closeToast(e);
        this.$.nameNAP.focus();
      },

    });
  </script>
</dom-module>
