<link rel="import" href="./narrative-dispatcher-element.html">

<dom-module id="narrative-block-zone-element">
  <template>
    <style>
    </style>

<!-- Here a zone of narrative element belonging to a tag. If null : retrieve all untagged general. If All : retrieve all  -->
    <div id="divRoot">
      <div id="zone">
        <template id="repeater" is="dom-repeat" items="{{arrayToDisplay}}" as="elm" index-as="index" restamp>
          <narrative-dispatcher-element vocab="{{vocab}}" customcls="{{customcls}}" customprops="{{customprops}}" src="{{item}}" origin="{{_computeOrigin(isOriginMustBeDisplayed)}}" element="{{elm.element}}" prop="{{elm.property}}"></narrative-dispatcher-element>
        </template>

      </div>
      <div id="subZone">

      </div>
    </div>

  </template>
  <script>
    Polymer({
      is: "narrative-block-zone-element",

      properties:
      {
        item:
        {
          type: Object,
          notify: true,
        },
        tag:
        {
          type: Object,
          notify: true,
        },
        filtering:
        {
          type: Array,
          notify: true,
        },
        arrayToDisplay:
        {
          type: Array,
          notify: true,
        },
        isOriginMustBeDisplayed:
        {
          type: Boolean,
          notify: true,
        },

        vocab:
        {
          type: Object,
          notify: true,
        },
        customcls:
        {
          type: Object,
          notify: true,
        },
        customprops:
        {
          type: Object,
          notify: true,
        },
      },

      observers:
      [
        "_onItemChanged(item)",
      ],

      attached: function()
      {
        this.$.zone.addEventListener(NARRATIVE_SUB_NARRATION_REQUESTED_SIGNAL_ID, function(e){
          this._attachNewZoneFor(e.detail.element);
        }.bind(this));
      },

      _onItemChanged: function(item)
      {
        this.update();
      },

      update: function()
      {
        if(this.item == null)
          return;

        var block = NARRATIVE_BLOCK_POOL.getNarrativeBlockForID(this.item.id);

        var res = block.getElementsByTag(this.tag);

        this._resetDisplay();

        res = this._filter(res);

        this.arrayToDisplay = null;
        // this.$.repeater.render();

        this.set("arrayToDisplay", res);
      },

      _filter: function(array)
      {
        if(array == null || this.filtering == null || array.length == 0 || this.filtering.length == 0)
          return array;

        var indexToSplice = [];

        for(var i in array)
        {
          for(var j in this.filtering)
          {
            if(array[i].element instanceof this.filtering[j])
              indexToSplice.push(i);
          }
        }

        var offset = 0;
        for(var i in indexToSplice)
        {
          array.splice(i-offset,1);
          offset++;
        }

        return array;
      },

      _attachNewZoneFor: function(element)
      {
        if(element == null)
          return null;

        var nbze = document.createElement("narrative-block-zone-element");
        nbze.set("item", element);
        nbze.set("isOriginMustBeDisplayed", true);

        this._resetDisplay();

        this.$$('#subZone').appendChild(nbze);
      },

      _computeOrigin: function(displayOrigin)
      {
        if(displayOrigin)
          return this.item;
        return null;
      },

      _resetDisplay: function()
      {
        var root = this.$$('#subZone');

        if(root)
          while(root.firstChild)
            root.removeChild(root.firstChild);
      },

    });
  </script>
</dom-module>
