<link rel="import" href="../../../../NarrativeBlock/narrative-block-cascader-display-element.html">

<dom-module id="description-namer-element">
  <template>
    <style>
    :host {
      display: block;
    }
    </style>

    {{entity.htmlify}}

    <narrative-block-cascader-display-element entity="{{entity}}"></narrative-block-cascader-display-element>
    <!-- <template is="dom-if" if="{{item::hasNarrativeBlock}}" restamp="true">
      <iron-icon icon="icons:arrow-drop-down-circle"></iron-icon>
    </template> -->

  </template>
  <script>

    </script>
  </dom-module>
