<!-- <link rel="import" href="../../../../NarrativeBlock/view/narrative-block-cascader-display-element.html"> -->
<link rel="import" href="../../../../../bower_components/paper-input/paper-textarea.html">

<dom-module id="objective-namer-element">
  <template>
    <style>
    :host {
      display: block;
    }
    </style>

    <!-- {{entity.htmlify}} -->
    {{entity.htmlify}}

    <narrative-block-cascader-display-element entity="{{entity}}"></narrative-block-cascader-display-element>
    <!-- <template is="dom-if" if="{{item::hasNarrativeBlock}}" restamp="true">
      <iron-icon icon="icons:arrow-drop-down-circle"></iron-icon>
    </template> -->

  </template>
  <script>

    </script>
  </dom-module>
