<!-- <link rel="import" href="../../../../NarrativeBlock/view/narrative-block-cascader-display-element.html"> -->
<link rel="import" href="../../theme/namer/namer-style.html">
<link rel="import" href="../../../../ExtendedPaperInput/extended-paper-input-element.html">
<link rel="import" href="../../../../ExtendedPaperInput/multi-link-extended-paper-input-element.html">


<dom-module id="parameter-configuration-namer-element">
  <template>
    <style include="namer-style"></style>
    <style>
    #global{
      width: 100%;
      margin-bottom: 5px;
    }
    paper-card{
      width: 100%;
    }
    </style>

    <!-- {{entity.htmlify}} -->
    <div class="global">
      <paper-card>
        <div class="card-content">
        <!-- <paper-textarea label="Objective" value="{{content}}"></paper-textarea> -->
          <multi-link-extended-paper-input-element id="ParameterConfiguration" rgtes="{{rgtes}}" vocab="{{vocab}}" customcls="{{customcls}}" customprops="{{customprops}}" label="{{entity.htmlify}}" value="{{content}}" char-counter required maxlength="100"></multi-link-extended-paper-input-element>
        </div>
      </paper-card>
        <!-- {{entity.htmlify}} -->
      <!-- <div class="cascader">
        <narrative-block-cascader-display-element entity="{{entity}}"></narrative-block-cascader-display-element>
      </div> -->
    </div>
    <!-- <template is="dom-if" if="{{item::hasNarrativeBlock}}" restamp="true">
      <iron-icon icon="icons:arrow-drop-down-circle"></iron-icon>
    </template> -->

  </template>
  <script>

    </script>
  </dom-module>
