<dom-module id="author-configurer-element">
  <template>
    <style>
    :host {
      display: block;
    }
    </style>

    <!-- ROOT CONFIGURER ELEMENT - BACKTRACK INHERITANCE -->
    <paper-card heading="Author information">
      <div class="card-content">
        <div class="inlineBlock">
          <paper-input id="authName" label="Author Name" value="{{authName}}" char-counter maxlength="70"></paper-input>
        </div>
      </div>
    <div class="card-actions" hidden="{{cascaded}}">
      <paper-icon-button icon="icons:done" on-click="_updateAuthor"></paper-icon-button>
    </div>
  </paper-card>

  </template>
  <script>

    </script>
  </dom-module>
