<link rel="import" href="../theme/configurer/configurer-style.html">

<dom-module id="description-configurer-element">
  <template>
    <style include="configurer-style"></style>
    <style>
    :host {
      display: block;
    }
    </style>

    <!-- ROOT CONFIGURER ELEMENT - BACKTRACK INHERITANCE -->
  <div id="divRoot">
    <paper-card class="card" heading="Descriptive addendum edition">
      <div class="card-content">

      Description: <paper-textarea id="descrTxt" label="Description" value="{{val}}" max-rows="3"></paper-textarea>
      </div>
    <div class="card-actions" hidden="{{cascaded}}">
      <paper-icon-button icon="icons:done" on-click="_update"></paper-icon-button>
    </div>
  </paper-card>

</div>
  </template>
  <script>

    </script>
  </dom-module>
